/* body[theme='light'] { background-color: #f5f5f5; color:#333333}
body[theme='light'] a { color: #1a73e8 }

body[theme="dark"] { background-color: black; color: white; }
body[theme="dark"] a { color: yellow; }

body[theme="gray"] { background-color: #cccccc; color: #800020; }
body[theme="gray"] a { color: #1a73e8 }

body[theme="lightgray"] { background-color: #cccccc; color: #000000; }
body[theme="lightgray"] a { color: yellow } */


/* h1[theme='light'] { background-color: white; color:black}
h1[theme='light'] a { color: black; }

h1[theme="dark"] { background-color: black; color: white; }
h1[theme="dark"] a { color: white; }

h1[theme="gray"] { background-color: yellow; color: black; }
h1[theme="gray"] a { color: black; }

h1[theme="lightgray"] { background-color: yellow; color: black; }
h1[theme="lightgray"] a { color: black; } */


/* h2[theme='light'] { background-color: white; color:black}
h2[theme='light'] a { color: black; }

h2[theme="dark"] { background-color: black; color: white; }
h2[theme="dark"] a { color: white; }

h2[theme="gray"] { background-color: yellow; color: black; }
h2[theme="gray"] a { color: black; }

h2[theme="lightgray"] { background-color: yellow; color: black; }
h2[theme="lightgray"] a { color: black; } */

/* div { Denna fick flex att misslyckas!
	margin:5px
} */

a:hover { cursor: pointer; }

/* Se till Inställningar.md matchar font och fontsize */

body[fontsize="12"] { font-size: 12px }
body[fontsize="14"] { font-size: 14px }
body[fontsize="16"] { font-size: 16px }
body[fontsize="18"] { font-size: 18px }
body[fontsize="20"] { font-size: 20px }
body[fontsize="22"] { font-size: 22px }
body[fontsize="24"] { font-size: 24px }
body[fontsize="26"] { font-size: 26px }
body[fontsize="28"] { font-size: 28px }

body[font='Helvetica'] { font-family: 'Helvetica'}
body[font='Courier New'] { font-family: 'Courier New'}
body[font='Times New Roman'] { font-family: 'Times New Roman'}

body {
	background-color: black;
	color:#eeeeee;
}

a {
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration:none; 
	color:#eeee00; 
}

h1 a {
	color:#eeeeee; 
	margin-bottom: 0px;
} 

table { margin-top: 0px; }

th {
	border: 1px solid darkgray; 
	padding-left:5px; 
	padding-right:5px; 
}

sup { font-size:16px;}

.vinjett { font-size: 10vh; }

red { color: red; }
green { color: green; }
blue { color: blue; }
